body {
    font:14px sans-serif;
}
input {
    margin: 0.6em 0.6em 0;
    width:398px;
}
#map_canvas {
    height: 400px;
    width: 400px;
    margin: 0.6em;
}
.pac-container {
    font-size:200%;
    color:black !important;
    text-shadow:none !important;
}